.footer {
    width: 100%;
    padding: 4rem 0;
    background-color: rgba(63, 63, 63, 0.11);
    margin-top: 4rem;
}

.footercontainer {
        max-width: 1140px;
        margin: auto;
        display: flex;
        grid-gap: 40px;
        align-items: center;
        justify-content: space-between;
}

.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
}

.location p {
    line-height: 30px;
}

.right {
    height: 100%;
    max-width: 80%;
    display: block;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right p {
    flex-direction: column; 
}

.right h4 {
    margin-bottom: 1rem;
    align-items: center;
        margin: auto;
        width: 88%;
}

.phone h4 {
    margin-bottom: 1rem;
}

.social {
    margin-top: 1rem; 
    align-items: center;
    border-bottom: 2px solid #0000CD;
    Cursor: pointer;
    border: 0;
    display: flex;
    width: 4%;
}

.social li {
    padding: 5px 8px;
    transition: 0.1s ease-in-out;
}

.social li:hover {
    background-color: rgb(48, 48, 48);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {

    .footercontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right {
        position: relative;
        float: left;
        width: 100%;
    }
    .right h4 {
        align-items: center;
        text-align: center;
    }
    .social {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
